*{
    margin: 0;
    padding: 0;
} 

.title16 {
   display: flex;
   font-size: 100px;
   background: url("https://thumbs.dreamstime.com/b/light-gray-felt-texture-background-wool-textile-light-gray-felt-texture-abstract-art-background-solid-color-wool-textile-copy-149520310.jpg");
   justify-content: center;
   height: 300px;
   margin-top: 3px;
}

.title17 {
    border: 8px solid rgb(0, 0, 0);
}

.title18 {
    display: inline-block;
    border: 5px solid black;
    height: 50px;
    width: 350px;
    text-align: center;
    font-size: 43px;
    background-color:lightgray;
}

.title19 {
    display: inline-block;
    border: 5px solid black;
    height: 50px;
    width: 350px;
    text-align: center;
    font-size: 43px;
    background-color:lightgray;
}

.titles1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.title22 {
    display: inline-block;
    border: 5px solid black;
    height: 450px;
    width: 400px;
    font-size: 37px;
    text-align: center;
    background-color:lightgray;
}

.title23 {
    display: inline-block;
    border: 5px solid black;
    height: 450px;
    width: 400px;
    font-size: 36px;
    text-align: center  ;
    background-color:lightgray;
}

.titles3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.title20 {
    display: inline-block;
    border: 5px solid black;
    height: 50px;
    width: 350px;
    text-align: center;
    font-size: 43px;
    margin-left: 140px;
    background-color:lightgray;
}

.title21 {
    display: inline-block;
    border: 5px solid black;
    height: 50px;
    width: 350px;
    text-align: center;
    font-size: 43px;
    margin-left: 165px;
    background-color:lightgray;
}

.title23 {
    display: inline-block;
    border: 5px solid black;
    height: 450px;
    width: 400px;
    background-color:lightgray;
}

.title24 {
    display: inline-block;
    border: 5px solid black;
    height: 450px;
    width: 400px;
    background-color:lightgray;
    font-size: 37px;
    text-align:center;
}

.titles2 {
    display: flex;
    margin-top: 40px;
    margin-left: 60px;
}

.titles4 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 150px;
    
}













